In [5]:
import pandas as pd
import mysql.connector

# 1. Read the CSV
df = pd.read_csv("final.csv")

# 2. Replace NaN with None so MySQL accepts them
df = df.where(pd.notnull(df), None)

# 3. Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",          # change if needed
    password="1212",  # change if needed
    database="netflix_db"   # change if needed
)
cursor = conn.cursor()

# 4. Create INSERT query
cols = ", ".join(df.columns)
placeholders = ", ".join(["%s"] * len(df.columns))
query = f"INSERT INTO netflix ({cols}) VALUES ({placeholders})"

# 5. Insert data
data = [tuple(row) for row in df.to_numpy()]
cursor.executemany(query, data)

conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ': 0, show_id, type, title, director, cast, country, date_added, release_year, ra' at line 1